* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-layout {
    display: flex;
    justify-content: center;
    text-align: center;
}

.containter{
    width: 80%;
    background-color: aqua;
}